*.o
*.txt
*.pyc
*.elf
*.mbn
*.map
*.sym
*.cmm
*.log
*.pyo
*.dblite
*.bin
*.code-workspace
*.zip


apps_proc/*/*/build
apps_proc/*/*/*/build
apps_proc/*/*/*/*/build
apps_proc/*/*/*/*/*/build
apps_proc/*/*/*/*/*/*/build
apps_proc/core/debugtrace
apps_proc/build/build
apps_proc/core/power/dcvs/inc/dcvs_tracer_event_ids.h
apps_proc/core/systemdrivers/pmic/utils/src/pm_sw_event_id.h
apps_proc/core/products/scripts/
apps_proc/build/ms/memory_analysis.csv
apps_proc/build/myps/qshrink/msg_hash_c03b58d1-8d7d-11e8-b29e-1515ace8efa8.qsr4

binaries

boot_images/core/*/build
boot_images/core/*/*/build
boot_images/core/*/*/*/build
boot_images/core/*/*/*/*/build
boot_images/core/*/*/*/*/*/build
boot_images/build/build

boot_images/Conf/BuildEnv.sh
boot_images/QcomPkg/QcomToolsPkg/Bin/
modem_proc/audio_avs/main/module_mgmt/module_mgr/autogen/
modem_proc/build/myps/qshrink/msg_hash_3dc1c455-54f3-a60b-36ab-1cb1858e31a0.qsr4
modem_proc/build/myps/qshrink/msg_hash_90c844a5-1527-004c-6e52-bf19339c565b.qsr4
modem_proc/mcfg/configs/mcfg_hw/
modem_proc/mcfg/configs/mcfg_sw/mbn_sw.dig

common/build

modem_proc/*/build
modem_proc/*/*/build
modem_proc/*/*/*/build
modem_proc/*/*/*/*/build
modem_proc/*/*/*/*/*/build
modem_proc/*/*/*/*/*/*/build
modem_proc/build/ms/orig_*
modem_proc/audio_avs/module_mgmt/module_mgr/autogen/
modem_proc/build/ms/bin/

rpm_proc/build/build
rpm_proc/build/ms/bin/
rpm_proc/core/api/debugtrace/tracer_event_ids.h
rpm_proc/core/api/debugtrace/tracer_event_tbl.h
rpm_proc/core/*/*/build
rpm_proc/core/*/build
rpm_proc/core/*/*/build
rpm_proc/core/*/*/*/build
rpm_proc/core/*/*/*/*/build
rpm_proc/core/*/*/*/*/*/build

trustzone_images/build/ms/LOGFILE*
trustzone_images/build/ms/bin/PIL_IMAGES/*
trustzone_images/build/ms/bin/XAPAANBA/*
trustzone_images/build/ms/build-log.txt
trustzone_images/core/*/*/build
trustzone_images/core/*/*/*/build
trustzone_images/core/*/*/*/*/build
trustzone_images/core/*/*/*/*/build
trustzone_images/core/*/*/*/*/*/build
trustzone_images/core/*/*/*/*/*/*/build
